body {
      /* background-color: #D6C227 !important;  */
}
.text {
    text-align: center;
    color: #026E5D !important;
}
.section{
    margin-top: 5em !important;
    background-color: #B2D1D9 !important;
  
}

.form-container {
    padding-top: 50px;
}

.segment-padding {
    padding: 50px !important;
    background-color: #B2D1D9 !important;
    
}



.input-margins {
    margin-bottom: 40px !important;
}

.page-container {
    background-color: #D6C227 !important; 

    
  }

  .background-image{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background-size: auto auto !important;
    mix-blend-mode: overlay !important;
  }
  .border {
    border: medium !important;
    border-color: white !important;
    border-radius: 50% !important;
    padding: 10px !important;
  }