.members-container {
    padding-top: 50px;
}

.search-left-header {
    text-align: center !important;
    font-weight: 800 !important;
    font-size: 23px;
    margin-bottom: 0px !important;

}
.search-left-subheader {
    text-align: center !important;
    font-size: 20px !important;
    margin-top: 35px !important;
    padding: 15px !important;

}